
.block-profile {
    background: linear-gradient(20deg, white, silver);
    color: black;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.block-profile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-signOut-profile {
    background: linear-gradient(to right, #3b82f6, #8b5cf6);
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    max-width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

.button-signOut-profile:hover {
    animation-name: hoverButtonSignOut;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


@media (min-width: 768px) {
    .block-profile {
        width: 90%;
        max-width: 700px;
        margin: 0 auto;
    }
    
    .button-signOut-profile {
        align-self: flex-end;
        width: 150px;
    }
}

@media (min-width: 1024px) {
    .block-profile {
        width: 1200px;
        height: 220px;
    }
    
    .block-profile-info {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        height: 100%;
    }
    
    .button-signOut-profile {
        align-self: auto;
    }
}